@use "colors" as *;

form
{
    display: flex;
    flex-direction: column;
}

input{
    padding: 0.2em 0.5em;
    border-radius: 1em;
    font-size: 1.8rem;
    &:focus{
        border: 1px solid $second-color;
    }
}

textarea{
    padding: 0.2em 0.5em;
    border-radius: 1em;
    resize: vertical;
}

.btn{
    padding: 0.5em 1em;
    border-color: $second-color;
    text-align: center;
    color: $winter-color;
}