@use "colors" as *;

form
{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

input{
    padding: 0.2em 0.5em;
    border-radius: 1em;
    font-size: 1.8rem;
    &:focus{
        border: 1px solid $second-color;
    }
}

textarea{
    padding: 0.2em 0.5em;
    border-radius: 1em;
    resize: vertical;
}

label{
    font-size: 1.8rem;
    font-weight: bold;
}

.btn{
    margin-top: 2em;
    padding: 1em 2em;
    background-color: $main-color;
    border-radius: 1em;
    text-align: center;
    color: $winter-color;
}