@media (min-width: 992px) {
    .header{
        background-image: url('./../img/header_big.jpg');
    }

    .comments {
		margin: 1em auto;
		&__single {
			grid-template-rows: 1.5fr 0.8fr;
			grid-template-columns: 1fr 5fr;
			padding: 0.6em;
			// font-size: 2.8rem;
		}
		&__author {
			padding: 0.8em;
		}
		&__content {
			padding: 0.8em;
		}
		&__date {
			padding: 0.8em;
		}
	}
}
