@use "../utilities/colors" as *;

.nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 4em;
	background-color: $main-color;

	&__logo {
		display: flex;
		justify-self: flex-start;
		align-items: center;
		margin-right: auto;

		&-text{
			font-size: 2rem;
			color: $winter-color;
		}
	}

	&__item {
		&-link {
			color: $winter-color;
		}
	}

	&__btn{
		margin-right: 2em;
		padding: 1em;
		border: none;
		background: none;
		color: $winter-color;
		z-index: 1000;
	}

	&__list {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content:space-around;
		align-items: center;
		background-color: $main-color;
	}

	&__list--mobile{
		display: none;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.2em 0.5em;
		height: 100%;
		font-size: 1.8rem;

		&-link {
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	background-image: url("./../img/header_mini.jpg");
	background-size: cover;
	background-position: center;

	&__title {
		font-size: 4.2rem;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-align: center;
		color: $winter-color;
	}
}

.section {
	padding: 3em 1em;
	min-height: 50vh;
	&__header {
		padding-bottom: 1.5em;
		text-transform: uppercase;
		text-align: center;
		font-size: 3.2rem;
	}
}

.news-list {
	&__single {
		display: grid;
		grid-template-rows: 1fr 1fr 2fr 3em 3em;
		grid-template-columns: 1fr;
		gap: 0;
		margin-bottom: 0.5em;
		padding: 0.8em 0.6em;
		border: 3px solid $main-color;
		border-radius: 1em;
	}

	&__header {
		grid-row: 1/2;
		grid-column: 1/-1;
		font-size: 2.6rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		a{
			color: $main-color;
			text-decoration: none;
		}
	}

	&__img {
		grid-row: 2/3;
		grid-column: 1/-1;
	}

	img {
		padding: 0.5em;
		width: 100%;
	}

	&__content {
		grid-row: 3/4;
		grid-column: 1/-1;
		padding: 0.5em 1em;
		text-align: justify;
		font-size: 1.8rem;
		line-height: 2em;
	}

	&__created {
		grid-row: 4/5;
		grid-column: 1/-1;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.8rem;
	}

	&__link {
		grid-row: 5/6;
		grid-column: 1/-1;
		font-size: 1.8rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		text-decoration: none;
		color: $second-color;
	}
}

.news {
	&__content {
		display: flex;
		flex-direction: column;
	}

	&__information {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__text {
		text-align: justify;
		font-size: 1.8rem;
		line-height: 2em;
	}
}

.news-creation {
	&__form {
		display: flex;
		flex-direction: column;
	}
}

.error {
	display: flex;
	align-content: space-around;
	align-items: center;
	min-height: 50vh;

	&__code {
		font-size: 5.2rem;
		margin: 0 1em;
	}

	&__text {
		font-size: 3.2rem;
		margin: 0 1em 0 0;
	}
}

.news-list-admin {
	display: flex;
	justify-content: center;
	&__tabel {
		width: 100%;
		text-align: center;
		thead {
			background-color: $main-color;
			color: $winter-color;
			font-size: 2rem;
			font-weight: bold;
		}
		tbody {
			font-size: 1.7rem;
			font-weight: 100;
		}
		a {
			text-decoration: none;
			text-transform: uppercase;
			color: $second-color;
			transition: color 1s, font-weight 2s;
			&:hover {
				color: $main-color;
				font-weight: bold;
			}
		}
		td{
			padding: 1em;
		}
	}
}

.footer {
	min-height: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $main-color;
	color: $winter-color;
	text-align: center;
	font-size: 1.6rem;
	letter-spacing: 3px;
	word-spacing: 5px;
	font-weight: bold;
}
